.submit:hover {
  color: #140b0b;
  background: skyblue;
}

table {
  top: 200px;
  left: 100px;
  border: 1px solid white;
}

table th {
  border: 1px solid;
  padding-right: 10px;
  padding-left: 10px;
}

td {
  border: 1px solid;
}

#id, #date, #title, #status {
  width: auto;
}
