body {
  background-color: rgb(18, 18, 18);
  color: white;
}

.data {
  position: absolute;
  top: 100px;
  left: 40%;
}

.form {
  display: flex;
  padding: 12px;
}

.todo {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  padding: 5px;
}

.submit {
  width: 30%;
  border-radius: 5px;
}

table,
tr,
td,
th {
  border: 1px white solid;
}

tr {
  min-height: 30px;
}

#id {
  width: 10px;
}
